* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#image-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 460px;
}

#image-slider .slides {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#image-slider .slide {
    width: 100%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#image-slider .slide img {
    display: none;
}

#image-slider.fade .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
}

#image-slider.fade .slide.active {
    opacity: 1;
    transition: all 0.5s linear;
}

#image-slider .prev,
#image-slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    outline: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
} 

#image-slider .prev:hover,
#image-slider .next:hover{
    color: rgba(255, 255, 255, 1);
}

#image-slider .prev {
    left: 10px;
}
#image-slider .next {
    right: 10px;
}

#image-slider .pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#image-slider .pagination span {
    display: inline-block;
    margin: 0px 2px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
}

#image-slider .pagination span.active,
#image-slider .pagination span:hover {
    background-color: #398edb;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #image-slider, #image-slider .slides .slide {
        height: 0;
        padding-bottom: 59.895833333333333333%;
    }
}